*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #0f172a;
  box-sizing: border-box;
  background-color: #dbd4d4;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  margin-top: 1.2rem;
}

.weather-card {
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  border-radius: 12px;
  padding: 6.4rem 3.2rem 3.2rem;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(img/main-light.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
}

.heading-primary,
.heading-secondary {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
}
.heading-secondary {
  margin-bottom: 0;
}

.date-time {
  color: #0f172a;
  margin-bottom: 1.6rem;
}
.date {
  display: inline-block;
  margin-right: 3.2rem;
}

.search-field,
.search-button,
.theme {
  font-size: 2rem;
  border: none;
  border-radius: 12px;
  padding: 0.8rem 2.4rem;
}

.search-field {
  display: inline-block;
  width: 32rem;
}

.search-field:focus {
  outline: none;
  box-shadow: 0 1.2rem 2.4rem rgb(239, 123, 141, 0.6);
}

.search-field::placeholder {
  color: #555;
}

.search-button {
  background-color: #fff;
  cursor: pointer;
  margin-left: 1.2rem;
}

.search-icon {
  color: #0f172a;
}

.main,
.sun {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}

.sun {
  padding: 0 8rem 0;
}

.content {
  opacity: 0;
  transition: all 0.5s;
}

.short-desc {
  text-align: center;
  font-weight: 700;
}

.main-content {
  align-self: center;
}

.message {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  border-radius: 12px;
  background-color: #fb4570;
  margin-bottom: 1.6rem;
}

.temp {
  font-size: 5.2rem;
}

.city {
  font-size: 3.6rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  text-align: center;
}

.feature {
  padding: 1.6rem;
}

.sun-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

.popup {
  display: none;
  width: 90%;
  border-radius: 12px;
  background-color: #fa456f;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8rem 1.6rem;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.theme {
  background-color: #fff;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  cursor: pointer;
}

.dark {
  background-image: url(img/main-dark.jpg);
  color: #fff;
}
